<% path = '/tmp' %>
<% content = `lsof -u ^root -S2 #{path} | tr -s ' ' | cut -d' ' -f2-4,9-` %>
<% if @type == 'text' then %>
<%=  content %>
<% elsif @type == 'json' %>
<%   require 'json' %>
<%   struct = Array.new %>
<%   content = content.split("\n")[1..-1] %>
<%   keys = ['pid','user','state','file'] %>
<%   unless content.empty? %>
<%     content.each do |file| %>
<%       file = file.split %>
<%        values = file[0..2] %>
<%        values << file[3..-1].join(' ') %>
<%        struct <<  Hash[*keys.zip(values).flatten] %>
<%     end %>
<%   end %>
<%=  JSON.pretty_generate struct %>
<% else %>
<div style="font-size:160%"><strong>Open Files in Temp</strong></div>
<table>
  <thead>
    <tr>
      <td>Process&nbsp;ID</td>
      <td>User</td>
      <td>State</td>
      <td>File</td>
    </tr>
  </thead>
  <tbody>
<% if content.empty? %>
    <tr><td>none</td><td>none</td><td>none</td><td>none</td></tr>
<% else %>
<%   content.split("\n")[1..-1].each do |file| %>
<%   file = file.split%>
    <tr>
      <td><%= file[0..2].join('</td><td>') %></td>
      <td><span style="font-size:80%"><%= file[3..-1].join(' ')%></span></td>
    </tr>
<%   end %>
<% end %>
  </tbody>
</table>
<% end %>
