<ul>
  <li>
    <div class="label">Select graphs to display:</div>
    <select multiple="yes" size="4" name='display[]'>
      <option value='all'>all</option>
      <% @graphs.keys.sort.each do |name| %>
      <option value='<%= name %>'><%= name %></option>
      <% end %>
    </select>
  </li>
  <li>
    <div class="label">Start:</div>
    <input type="text" name="start" value="end-12h"/>
    <div class="label">End:</div>
    <input type="text" name="end" value="now"/>
    <div class="explain">Read Help for more details.</div>
  </li>
  <li>
    <div class="label">Image type for graphs:</div>
    <select name"image">
      <option>png</option>
      <option>svg</option>
    </select>
  </li>
</ul>
