<div class="navigation">
  <ul>
    <li><a href="/graph">Graph</a></li>
    <li><a href='/data'>Data</a></li>
    <li><a href='/report'>Report</a></li>
    <li><a href='/help'>Help</a></li>
  </ul>
  <button type="button" onClick="toggle()">&#8595;</button>
</div>
